// Basic Colors
@import "colors/ambers";
@import "colors/black";
@import "colors/blues";
@import "colors/browns";
@import "colors/grays";
@import "colors/greens";
@import "colors/limes";
@import "colors/oranges";
@import "colors/peaches";
@import "colors/pinks";
@import "colors/purples";
@import "colors/reds";
@import "colors/tans";
@import "colors/turquoise";
@import "colors/whites";
@import "colors/yellows";

// Base
$color-primary : $amber;
$color-secondary : $blueAzure;
$color-tertiary : $purpleVerona;

// Tints and Shades
$color-primary-tinted : mix(white, $color-primary, 10%);
$color-primary-shaded : mix(black, $color-primary, 10%);

// Opacity and Transparency

// Contrast and Accessibility